.chatPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-size: contain;

    .wrapper {
        flex: 1;
        /* height: 100%; */
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        scrollbar-width: thin;
        scrollbar-color: thistle transparent;

        .wrapper::-webkit-scrollbar {
            width: 6px;
        }

        .wrapper::-webkit-scrollbar-thumb {
            background-color: thistle;
            border-radius: 10px;
        }

        .chat {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            overflow-y: auto;
            padding-bottom: 80px;

            .message {
                padding: 5px 10px;

                &.user-message {
                    background-color: thistle;
                    border-radius: 20px;
                    max-width: 100%;
                    align-self: flex-end;
                    
                }
            }
        }
    }
}

