:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url('/images/back4.jpg');
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
